.account-container {
  padding: 20px;
  max-width: 480px;
  margin: auto;
  text-align: center;
  overflow-x: scroll;
}

.profile-header {
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  background: #6c63ff;
  border-radius: 50%;
  margin: auto;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.mobile {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.stats-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  box-shadow: 0px 2px 8px #00000020;
}

.stat h3 {
  margin: 0;
  color: #111;
}

.stat p {
  margin: 0;
  color: #555;
  font-size: 14px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option-btn {
  padding: 14px;
  background: #6c63ff;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 2px 8px #00000020;
  font-size: 16px;
  cursor: pointer;
}

.logout-btn {
  margin-top: 20px;
  padding: 14px;
  width: 100%;
  background: #ff4f4f;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 100px !important;
}

.loader {
  text-align: center;
  padding: 50px;
  font-size: 20px;
}
