.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 70px !important;
  background: #ff96ff;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.nav-icon {
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 10px;
}

.nav-icon:hover {
  transform: scale(1.1);
}
